<div class="container-fluid edit-budget">
  <div class="row-fluid">
    <div class="span8">
      <div class="income">
        <div class="row-fluid category">
          <div class="span6 name">Income</div>
          <div class="span2 amount"><%= @budget.budgeted_income %></div>
          <div class="span2 amount"></div>
          <div class="span2 amount"></div>
        </div>

        <div class="buckets">
          <% @budget.income_buckets.each do |income| %>
            <div class="row-fluid bucket">
              <div class="span6 name">
                <i class="add icon-plus"></i>
                <i class="delete icon-remove"></i>
                <%= income.name %>
              </div>
              <div class="span2 amount"><%= income.budgeted %></div>
              <div class="span2 amount"></div>
              <div class="span2 amount"></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="expenses">
        <% @budget.categories.each do |category| %>
          <div>
            <div class="row-fluid category">
              <div class="span6 name">
                <i class="add icon-plus"></i>
                <i class="delete icon-remove"></i>
                <%= category.name %>
              </div>
              <div class="span2 amount"><%= category.budgeted %></div>
              <div class="span2 amount"><%= category.spent %></div>
              <div class="span2 amount"><%= category.remaining %></div>
            </div>

            <div class="buckets">
              <% category.buckets.each do |bucket| %>
                <div class="row-fluid bucket">
                  <div class="span6 name">
                    <i class="add icon-plus"></i>
                    <i class="delete icon-remove"></i>
                    <%= bucket.name %>
                  </div>
                  <div class="span2 amount"><%= bucket.budgeted %></div>
                  <div class="span2 amount"><%= bucket.spent %></div>
                  <div class="span2 amount"><%= bucket.remaining %></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="span4">
      <div class="overview">
        <table class="table">
          <tr>
            <td>Budgeted Income</td>
            <td><%= @budget.budgeted_income %></td>
          </tr>
          <tr>
            <td>Budgeted Expenses</td>
            <td><%= @budget.budgeted_expenses %></td>
          </tr>
          <tr>
            <td>Budgeted Buffer</td>
            <td><%= @budget.budgeted_buffer %></td>
          </tr>

          <tr class="spacer"></tr>

          <tr>
            <td>Actual Balance</td>
            <td><%= @budget.actual_balance %></td>
          </tr>
          <tr>
            <td>Left To Spend</td>
            <td><%= @budget.left_to_spend %></td>
          </tr>
          <tr>
            <td>Actual Buffer</td>
            <td><%= @budget.actual_buffer %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
