<div class="span3"><a href="{{url}}" data-push-state>{{starts_on}}</a></div>
<div class="span3">{{actual_balance}}</div>
<div class="span3">{{remaining}}</div>
<div class="span2" id="actual-buffer">{{actual_buffer}}</div>
<div class="span1 delete"><i class="icon-remove" data-delete-budget></i></div>

