<div class="column"><a href="{{url}}" data-push-state>{{starts_on}}</a></div>
<div class="column">{{actual_balance}}</div>
<div class="column">{{remaining}}</div>
<div class="column" id="actual-buffer">{{actual_buffer}}</div>
<i class="touch-indicator icon icon-angle-right"></i>

