<div class="row-fluid">
  <div class="span7"><strong>Starts On</strong></div>
  <div class="span5"><input type="text" name="starts_on" class="inline-edit" value="{{starts_on}}"></div>
</div>

<div class="row-fluid section">
  <div class="span12"><strong>Budgeted</strong></div>
</div>
<div class="row-fluid">
  <div class="span7">Income</div>
  <div class="span5"><input type="text" class="inline-edit" value="{{total_income}}" readonly></div>
</div>
<div class="row-fluid">
  <div class="span7">Expenses</div>
  <div class="span5"><input type="text" class="inline-edit" value="{{total_expenses}}" readonly></div>
</div>
<div class="row-fluid">
  <div class="span7">Buffer</div>
  <div class="span5"><input type="text" class="inline-edit" value="{{budgeted_buffer}}" readonly></div>
</div>

<div class="row-fluid section">
  <div class="span12"><strong>Actual</strong></div>
</div>
<div class="row-fluid">
  <div class="span7">Balance</div>
  <div class="span5"><input type="text" name="actual" class="inline-edit" value="{{actual_balance}}"></div>
</div>
<div class="row-fluid">
  <div class="span7">Not Cleared</div>
  <div class="span5"><input type="text" class="inline-edit" value="{{remaining}}" readonly></div>
</div>
<div class="row-fluid">
  <div class="span7">Buffer</div>
  <div class="span5"><input type="text" class="inline-edit" value="{{actual_buffer}}" readonly></div>
</div>
